/* VARIABLES */
:root {

    /* Default colors */
    --clr-blue: #0065FC;
    --clr-light-blue: #DEEBFF;
    --clr-light-grey: #F2F2F2;
    --clr-text-default: #000;
    /* Titles font weight */
    --fw-bold: 700;
    
    /*Card font size*/
    --fs--small: 0.8em;

    /* Box shadow */
    --box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-hover: 2px 2px 3px 3px rgba(0, 0, 0, 0.4);
}

/* GENERAL SETTINGS */
* {
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:var(--clr-text-default);
    cursor: pointer;
    position: relative;
    z-index: 3;
       
}

h1, h2, h3 {
    font-weight: var(--fw-bold);
}

html, body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    width: 93%;
}

#search_section, #results_section, #activities_results {
    margin-bottom: 65px;
}

/* HEADER SECTION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
}

nav img {
    height: 50px;
    width: auto;
}

#navlinks {
    display: flex;
    align-items: center;
}

#navlinks a:link, #navlinks a:visited {
    
    border: 2px solid transparent;
    color: var(--clr-blue);
    padding: 10px 10px;
    display: block;
    
}

#navlinks a:hover, #navlinks a:active {

    border-top: 2px solid var(--clr-blue);

}

/* SEARCH SECTION */

button {
    cursor: pointer;
}

#search_form {
    display: flex;
    flex-direction: column;
}

#search_input_container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.fa-map-marker-alt {
    padding: 16px;
    background-color: var(--clr-light-grey);    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search_input_container input {
    border: none;
    border-top: 1px solid var(--clr-light-grey);
    border-bottom: 1px solid var(--clr-light-grey);
    padding: 14px 10px;
    font-weight: var(--fw-bold);
}

#search_input_container button {
    background-color: var(--clr-blue);
    color: white;
    border: none;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search_filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 16px;
}

#fa_eco {
    color:var(--clr-blue);
    background-color: var(--clr-light-blue);
    padding: 15px 13px;
    border-radius: 50%;
}

#fa_fam,
#fa_rom,
#fa_ani {
    color:var(--clr-blue);
    background-color: var(--clr-light-blue);
    padding: 15px 15px;
    border-radius: 50%;
}

#fa_fam {
    padding: 15px 17px;
}
.filter {
    background-color: white;
    align-content: center;
    margin: 16px;
    padding: 0 16px 0 0;
    font-weight: var(--fw-bold);
    border: 2px solid var(--clr-light-grey);
    border-radius: 50px;
}

span.info::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f129";
    padding : 4px 10px;
    border : 1px solid var(--clr-light-grey);
    border-radius: 50%;
    color: var(--clr-blue);
}

/* RESULTS SECTION */

#results_section {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    row-gap: 50px;

}

#city_results {
    display: flex;
    flex-basis: 75%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--clr-light-grey);

}

#cr_title {
    margin-left: 3%;
}

#results_section h2 {
    align-self: flex-start;
    width: 100%;
}

/* Card design */

.card {
    background-color: white;
    box-shadow: var(--box-shadow);
    margin: min(5px, 5%);
    font-size: var(--fs--small);
}

/* Card shadow effect */
.card:hover {
    transform: translateY(-2px) scale(1.02);
    transition: transform .25s ease;
}

.pseudo-hover {
    
    position: relative;
    
}

.pseudo-hover::after {
    
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 15px;
    margin: -5px;
    box-shadow: var(--box-shadow-hover);
    transition: opacity .25s ease;
    
}

.pseudo-hover:hover::after {
    opacity: 1;
    transition: opacity .25s ease;
} 

/* City results card */
.cr_card {
    
    flex-basis: 30%;
    border: 5px solid white;
    border-radius: 15px;
}

.cr_card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cr_card_details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0 0 10px;
}

.cr_card_details h2, p, .rating {
    margin-bottom: 10px;
}

/* "Show more" link */

#show_more {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3%;
    width: 100%;
    align-self: flex-end;
    font-weight: var(--fw-bold);
    
}

.fa-star {
    color:var(--clr-blue);
}

.empty_star {
    color:var(--clr-light-grey)
}



/* ASIDE : MOST POPULAR */

#most_popular_results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--clr-light-grey);
}

.mpr_title {
    display: flex;
    justify-content: space-between;
}

.mpr_title h3 {
    margin: 0;
}

.fa-chart-line {
    font-size: 28px;
}

.mpr_card {
    display: flex;
    flex-direction: row;
    width: 340px;
    height: 140px;
    border-radius: 15px;
    padding: 5px;
    font-size: var(--fs--small);

}

.mpr_card_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 20px;

}

.mpr_card_details p {
    flex-grow: 1;
}

.mpr_card img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.ar_gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ar_card {
    
    width: 302px;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    border-radius: 15px;

}

.ar_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ar_card h2 {
    
    padding: 16px 0 16px 16px;
}
.big {
    height: 495px;
}

.small_1 {
    height: 235px;
}

.small_2 {
    height: 165px;
}

.small_3 {
    height: 195px;
}

.small_4 {
    height: 209px;
}

.ar_card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

ul {
    list-style-type: none;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--clr-light-grey);
}


footer div {
    padding: 100px 0 100px 0 ;
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: calc(100%/3);
}

footer * {
    margin-bottom: 1em;
}